@font-face {
    font-family: neue;
    src: url(./NeueHaasDisplayMediu.ttf);
}
@font-face {
    font-family: neue-light;
    font-weight: 100;
    src: url(./NeueHaasDisplayLight.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: neue;
}

*::selection{
    color: white;
    background-color: black;
}

.page4{
    min-height: 100vh;
    width: 100%;
}