@font-face {
    font-family: neue;
    src: url(./NeueHaasDisplayMediu.ttf);
}
@font-face {
    font-family: neue-light;
    font-weight: 100;
    src: url(./NeueHaasDisplayLight.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: neue;
}

*::selection{
    color: white;
    background-color: black;
}

.page3{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
}

.title{
    position: relative;
    padding: 3vw 2vw;
    display: flex;
    align-items: center;
    gap: 5px;
}

.title p{
    font-size: 0.9vw;
    /* font-weight: ; */
}

.title .gola{
    
    height: 9px;
    width: 9px;
    border-radius: 50%;
    background-color: #FE380D;
}

.elem-container{
    margin: 2vw 0;
}

.elem{
    position: relative;
    height: 9vw;
    width: 100%;
    border-bottom: 1px solid #ceccca;
    padding: 1vw 2vw;
    overflow: hidden;
}

.text{
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text h1{
    font-size: 3vw;
}

.text div h4, p{
    z-index: 9;
    font-family: neue-light;
    font-size: 1.6vw;
    text-align: right;
}

.text div p{
    color:#9a9793;
}

.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #FF9831;
    left:0;
    top: -100%;
    opacity: 0;
    transition: all ease 0.4s;
}

.elem:hover .overlay{
    opacity: 1;
    top: 0;
}

.elem:hover{
    cursor: pointer;
}

.fixed-image{
    height: 30vw;
    width: 23vw;
    /* background-color: red; */
    border-radius: 1.5vw;
    position: fixed;
    left: 55%;
    top: 21%;
    z-index: 20;
    display: none;
    background-size: cover;             /* ensures the image fully covers the container without stretching.*/
}

.but {
    padding: 2vw;
    display: flex;
}

.but h4{
    position: relative;
    font-size: 16px;
    padding: 1vw 1.5vw;
    border: #0000009a 1px solid;
    border-radius: 50px;
    font-weight: 500;
    z-index: 5;
    overflow: hidden;
}

.but h4::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    border-radius: 50px;
    top: 100%;
    left: 0;
    transition: all ease 0.4s;
    z-index: -1;
}

.but h4:hover::after{
    top: 0;
}

.but h4:hover{
    cursor: pointer;
    color: white;
}